@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
body{

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(35,9,121,1) 0%, rgba(255,0,99,1) 100%);
}
.form{
    font-family: 'Dosis', sans-serif;
    background-color: white;
    position: absolute;
    top: 40%;
    left: 40%;
    /*margin: auto;*/
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.search{
    padding-bottom: 10px;

}
.search .input{
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    border: 1px solid black;
    outline: none;
    width: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*padding: 5px;*/
    display: block;
    height: 20px;
}
.search .button{
    width: 306px;
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: 1px solid;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}